$theme: '0c64eb','00b791','e62340','3123ae','a050d7','23304d';
$mainColors: #0c64eb,#00b791,#e62340,#3123ae,#a050d7,#23304d;
$subColors: #1183fb,#5adf96,#f5515f,#9958dc,#f7889c,#304269;
$machineOnLine: #ff20d8,#694cff,#00a8c5,#41c500,#ff8f00,#f73e3e;
